{% extends 'base.html.twig' %}

{% block title %}Projet test Lamster
{% endblock %}

{% block body %}
	{# afficher le calendrier #}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<div class="fixed-top">
		<nav class="navbar bg-primary" data-bs-theme="dark">
			<div class="container-fluid">
				<p class="navbar-brand text-white">Les reservations du :</p>
				<p class="navbar-brand text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-calendar" viewbox="0 0 16 16">
						<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
					</svg>
					{{ "now"|date('d/m/Y') }}</p>
				<p class="navbar-brand text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clock-history" viewbox="0 0 16 16">
						<path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
						<path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
						<path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
					</svg>
					{{ "now"|date('H:i') }}
				</p>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Rechercher un horraire" aria-label="Search">
					<button class="btn btn-light " type="submit">Recherche</button>
				</form>
			</div>
		</nav>

		<div class="pt-3 pb-3 bg-white border-bottom">
			<div
				class="container">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTypeHoraire">Ajout d'un horaire</button>

				<!-- modal modifier entreprise -->
				<div class="modal fade" id="addTypeHoraire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTypeHoraireLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title color_green" id="addTypeHoraireLabel">Ajout d'un type d'horaire</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>

							<div class="modal-body">
								{{ form_start(form_add_horraire) }}

								<div class="mt-4">
									{{ form_widget(form_add_horraire.name) }}
									<span class="error">{{ form_errors(form_add_horraire.name) }}</span>
								</div>
								<div class="mt-4">
									{{ form_widget(form_add_horraire.comment) }}
									<span class="error">{{ form_errors(form_add_horraire.comment) }}</span>
								</div>

								<div class="mt-4">
									<label for="">Date et heure de début
									</label>
									{{ form_widget(form_add_horraire.startDate) }}
									<span class="error">{{ form_errors(form_add_horraire.startDate) }}</span>
								</div>
								<div class="mt-4">
									<label for="">Date et heure de fin
									</label>
									{{ form_widget(form_add_horraire.endDate) }}
									<span class="error">{{ form_errors(form_add_horraire.endDate) }}</span>
								</div>
								<div class="mt-4">
									{{ form_widget(form_add_horraire.typeHoraire) }}
									<span class="error">{{ form_errors(form_add_horraire.typeHoraire) }}</span>
								</div>

								<div class="mt-4">
									{{ form_widget(form_add_horraire.priority) }}
									<span class="error">{{ form_errors(form_add_horraire.priority) }}</span>
								</div>

							</div>
							<br>
							<br>

							<div class="modal-footer">
								<button type="button" style="text-transform: none; margin-right: 1rem;" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								<button type="submit" style="text-transform: none;" class="btn btn-primary">Enregistrer</button>
							</div>
							{{ form_end(form_add_horraire) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	{% for horaires in horaire %}
	
{% endfor %}

	<div class="bg-body-secondary pt-5 ">

		<div class="container pt-5">


			<div class="accordion pt-5" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Horaires des jours passés
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<strong>This is the first item's accordion body.</strong>
							It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
							<code>.accordion-body</code>, though the transition does limit overflow.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Horaires de la journée passés
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="container">
								{% for horaires in horaire %}

									{% if horaires.name %}

										{% if (horaires.endDate|date('H:i') < ("now"|date('H:i')) and horaires.endDate|date('d/m/Y') == ("now"|date('d/m/Y')) )  %}
											<br>
											<div class="row row-striped" style="background-color: #ff00001a;">
												<h5 class="text-danger">Horaires passées</h5>
												<div class="col-2 text-right">
													<h1 class="display-4">
														<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
													</h1>
													<h2>{{horaires.startDate|date('m')}}</h2>
												</div>
												<div class="col-10">
													<h3 class="text-uppercase">
														<strong>{{horaires.name}}</strong>
													</h3>
													<ul class="list-inline">
														<li class="list-inline-item">
															<i class="fa fa-calendar-o" aria-hidden="true"></i>
															Monday</li>
														<li class="list-inline-item">
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															{{horaires.startDate|date('H:i')}}
															-
															<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
														</li>
														<li class="list-inline-item text-success">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Type dhoraire :
															{{horaires.typeHoraire.name }}
														</li>
														<li class="list-inline-item">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Priorité :
															{{horaires.priority }}
														</li>

													</ul>
													<p class="text-success">{{horaires.comment}}</p>
												</div>
											</div>
										{% endif %}


									{% endif %}

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							Horaires en cours
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="container">
								{% for horaires in horaire %}

									{% if horaires.name %}


										{% if (horaires.startDate|date('d/m/Y') == ("now"|date('d/m/Y')))  %}


											{% if (horaires.endDate|date('d/m/Y H:i') < ("now"|date('d/m/Y H:i')))  %}


												{% else %}
													<br>
													<div class="row row-striped">
														<div class="col-2 text-right">
															<h1 class="display-4">
																<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
															</h1>
															<h2>{{horaires.startDate|date('m')}}</h2>
														</div>
														<div class="col-10">
															<h3 class="text-uppercase">
																<strong>{{horaires.name}}</strong>
															</h3>
															<ul class="list-inline">
																<li class="list-inline-item">
																	<i class="fa fa-calendar-o" aria-hidden="true"></i>
																	Monday</li>
																<li class="list-inline-item">
																	<i class="fa fa-clock-o" aria-hidden="true"></i>
																	{{horaires.startDate|date('H:i')}}
																	-
																	<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
																</li>
																<li class="list-inline-item  text-success">
																	<i class="fa fa-location-arrow" aria-hidden="true"></i>
																	Type d'horaire :
																	{{horaires.typeHoraire.name }}</li>
																<li class="list-inline-item">
																	<i class="fa fa-location-arrow" aria-hidden="true"></i>
																	Priorité :
																	{{horaires.priority }}</li>
															</ul>
															<p class="text-success">{{horaires.comment}}</p>
															<div class="d-flex justify-content-between">
																<div>
																	<div>Date de création :</div>
																	<div>{{horaires.createdDate|date('H:i')}}</div>
																</div>

																<div>
																	<div>Date de dernière modification :</div>
																	<div>{{horaires.modifiedDate|date('H:i')}}</div>
																</div>
															</div>
														</div>
													</div>
											{% endif %}

										{% endif %}
									{% endif %}

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header fixed" id="headingThree2">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
							Horaires à venir
						</button>
					</h2>
					<div id="collapseThree2" class="accordion-collapse collapse " aria-labelledby="headingThree2" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="container">
								{% for horaires in horaire %}
								

									{% if horaires.name %}


										{% if (horaires.startDate|date('d/m/Y') == ("now"|date('d/m/Y')))  %}


											{% if (horaires.endDate|date('d/m/Y H:i') < ("now"|date('d/m/Y H:i')))  %}


												{% else %}
													<br>
													<div class="row row-striped">
														<div class="col-2 text-right">
															<h1 class="display-4">
																<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
															</h1>
															<h2>{{horaires.startDate|date('m')}}</h2>
														</div>
														<div class="col-10">
															<h3 class="text-uppercase">
																<strong>{{horaires.name}}</strong>
															</h3>
															<ul class="list-inline">
																<li class="list-inline-item">
																	<i class="fa fa-calendar-o" aria-hidden="true"></i>
																	Monday</li>
																<li class="list-inline-item">
																	<i class="fa fa-clock-o" aria-hidden="true"></i>
																	{{horaires.startDate|date('H:i')}}
																	-
																	<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
																</li>
																<li class="list-inline-item  text-success">
																	<i class="fa fa-location-arrow" aria-hidden="true"></i>
																	Type d'horaire :
																	{{horaires.typeHoraire.name }}</li>
																<li class="list-inline-item">
																	<i class="fa fa-location-arrow" aria-hidden="true"></i>
																	Priorité :
																	{{horaires.priority }}</li>
															</ul>
															<p class="text-success">{{horaires.comment}}</p>
															<div class="d-flex justify-content-between">
																<div>
																	<div>Date de création :</div>
																	<div>{{horaires.createdDate|date('H:i')}}</div>
																</div>

																<div>
																	<div>Date de dernière modification :</div>
																	<div>{{horaires.modifiedDate|date('H:i')}}</div>
																</div>
															</div>
														</div>
													</div>
											{% endif %}

										{% endif %}
									{% endif %}

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>

	
	


	<style>
		.row-striped:nth-of-type(odd) {
			background-color: #efefef;
			border-left: 4px #000000 solid;
		}

		.row-striped:nth-of-type(even) {
			background-color: #ffffff;
			border-left: 4px #efefef solid;
		}

		.row-striped {
			padding: 15px 0;
		}
	</style>
{% endblock %}
