{% extends 'base.html.twig' %}

{% block title %}Projet test Lamster
{% endblock %}

{% block body %}

	{% include "_partials/_nav.html.twig" %}

	<div class="bg_dark_2 mt-5">

		<div class="container mt-5">
			{% for horaires in horaire %}
				<br>
				<div class="row row-striped">
					<div class="col-2 text-right ">
						<h1 class="display-4">
							<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
						</h1>
						<h2>{{horaires.startDate|date('m')}}</h2>
					</div>
					<div class="col-10">
						<h3 class="text-uppercase">
							<strong>{{horaires.name}}</strong>
						</h3>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="fa fa-calendar-o" aria-hidden="true"></i>
								Monday</li>
							<li class="list-inline-item">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								{{horaires.startDate|date('H:i')}}
								-
								<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
							</li>
							<li class="list-inline-item  text-success">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
								Type d'horaire :
								{{horaires.typeHoraire.name }}</li>
							<li class="list-inline-item">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
								Priorité :
								{{horaires.priority }}</li>
						</ul>
						<p class="text-success">{{horaires.comment}}</p>
						<div class="d-flex justify-content-between">
							<div>
								<div>Date de création :</div>
								<div>{{horaires.createdDate|date('H:i')}}</div>
							</div>

							<div>
								<div>Date de dernière modification :</div>
								<div>{{horaires.modifiedDate|date('H:i')}}</div>
							</div>
						</div>
						<div class=" mt-3">
							<div class="d-flex">
								<div>
									<a href="{{path('app_edit_horaire', { name: horaires.name }) }}">Modifier</a>
								</div>


								<div class="ml-3">
									<a href="{{path('app_delete_horaire', {'id': horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>
								</div>

							</div>

						</div>


					</div>


				</div>


			{% endfor %}
		</div>
	</div>
{% endblock %}
