{% extends 'base.html.twig' %}

{% block title %}Projet test Lamster
{% endblock %}


{% block body %}

	<div class="container" style="margin-top: -5rem;">

		<div class="row">
			<div class="col-md-2 shadow-sm ">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="{{path('app_horaire')}}" class="text-success">Voir les horraires</a>
					</li>
				</ul>
			</div>


			<div
				class="col-md-10 shadow-sm">
				{# modal : btn + form pour ajouter un type horaire #}
				<div
					class="ml-1 ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-success text-white ml-4 mt-4" data-bs-toggle="modal" data-bs-target="#addTypeHoraire">
						<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-upload me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
							<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
						</svg>
						Ajout d'un type d'horaire
					</button>


					<div class="modal fade" id="addTypeHoraire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTypeHoraireLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title color_green" id="addTypeHoraireLabel">Ajout d'un type d'horaire</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>

								<div class="modal-body">
									{{ form_start(form_add_typeHorraire) }}

									<div class="mt-4">
										{{ form_widget(form_add_typeHorraire.name) }}
										<span class="error">{{ form_errors(form_add_typeHorraire.name) }}</span>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" style="text-transform: none; margin-right: 1rem;" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									<button type="submit" style="text-transform: none;" class="btn btn-primary text-white">Enregistrer</button>
								</div>
								{{ form_end(form_add_typeHorraire) }}
							</div>
						</div>
					</div>
				</div>


				<div class="row g-4 mb-5 mt-3 ml-1 mr-1">
					{% for type_horaires in type_horaire %}
						<div class="col-12 col-lg-4">
							<div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
								<div class="app-card-header p-3 border-bottom-0">
									<div class="row align-items-center gx-3">
										<div class="col-auto">
											<div class="app-icon-holder">
												<img alt="Alignez à gauche icon" srcset="https://img.icons8.com/bubbles/512/align-left.png 2x, https://img.icons8.com/bubbles/256/align-left.png 1x" src="https://img.icons8.com/bubbles/512/align-left.png" style="width: 26px; height: 26px;">
											</div>
										</div>
										<div class="col-auto">
											<h5 class="app-card-title text-success">
												{{ type_horaires.name }}
											</h5>
										</div>
									</div>
								</div>
								<!--//app-card-body-->
								<div class="app-card-footer p-4 mt-auto">
									<a class="btn app-btn-secondary" href="{{path('app_edit_type_horaire', { name: type_horaires.name }) }}">Modifier</a>
									<a class="btn app-btn-secondary" href="{{path('app_delete_typeHoraire', {'id': type_horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>


								</div>


								<!--//app-card-footer-->
							</div>
							<!--//app-card-->
						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
