{{form_start(form_search, {attr: {class: 'filter'}}) }}
<h6>
	<a href="{{path('app_horaire')}}">Effacer les filtres</a>
</h6>
{{form_row(form_search.q, {attr: {class: 'mt-2'}}) }}
<h6 class="mt-2">Type d'horaires</h6>
{{form_row(form_search.typeHoraire, {attr: {class: 'mt-0'}}) }}
<h6 class="mt-2">Priorités</h6>
{{form_row(form_search.priority, {attr: {class: 'mt-0'}}) }}
<h6 class="mt-2">Date de début</h6>
{{form_row(form_search.startDate, {attr: {class: 'mt-0'}}) }}
<h6 class="mt-2">Date de fin</h6>
{{form_row(form_search.endDate, {attr: {class: 'mt-0'}}) }}
<button type="submit" class="btn btn-outline-success mb-2 w-100 mt-2">Filtrer</button>
{{form_end(form_search)}}


