{% extends 'base.html.twig' %}

{% block title %}Projet test Lamster
{% endblock %}


{% block body %}

	<link id="theme-style" rel="stylesheet" href="{{ asset('assets/css/portal.css') }}"/>

	<body class="app">
		<header class="app-header fixed-top">
			<div class="app-header-inner">
				<div class="container-fluid py-2">
					<div class="app-header-content">
						<div class="row justify-content-between align-items-center">
							<div class="d-flex justify-content-between">
								<h3 class="app-page-title mb-0 text-success">Les Horaires du :</h3>
								<div>
									<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-calendar" viewbox="0 0 16 16">
										<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
									</svg>
									{{ "now"|date('d/m/Y') }}
								</div>
								<div>
									<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clock-history" viewbox="0 0 16 16">
										<path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
										<path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
										<path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
									</svg>
									{{ "now"|date('H:i') }}
								</div>

								<div class="position-sticky">
									<div class=" rounded">
										{{ render(controller( 'App\\Controller\\SearchController::UserSearchBarHoraire')) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="app-sidepanel" class="app-sidepanel">
				<div id="sidepanel-drop" class="sidepanel-drop"></div>
				<div class="sidepanel-inner d-flex flex-column">
					<a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
					<div class="app-branding">
						Admin

					</div>

					<nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
						<ul class="app-menu list-unstyled accordion" id="menu-accordion">
							<li class="nav-item">
								<a class="nav-link active" href="{{path('app_horaire')}}">
									<span class="nav-icon">
										<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
											<path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
										</svg>
									</span>
									<span class="nav-link-text">Horaires</span>
								</a>
							</li>


							<!--//nav-item type horaire-->
							<li class="nav-item">
								<a class="nav-link " href="{{path('app_type_horaire')}}">
									<span class="nav-icon">
										<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
											<path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
										</svg>
									</span>
									<span class="nav-link-text">Types d'horaires</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>


		<div class="app-wrapper">

			<div class="ml-5">
			
			

				{% for horaires in horaire %}
					{% if horaires.name == 'lula' %}

						{{horaires.name}}
						<br>
						{{horaires.startDate|date('Y/m/d H:i')}}
						<br>
						{{horaires.endDate|date('Y/m/d H:i')}}
						<br>
						{% set count1=0%}
						{% set count1=count1+1 %}
						{{count1}}
						<br>
					{% endif %}

				{% endfor %}

			</div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary ml-4 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-upload me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
					<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
				</svg>
				Saisir un horaire
			</button>
			<h5 class="text-center">Nombre d'horaires au total :
				{{horaire | length}}</h5>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'un type d'horaire</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						{{ form_start(form_add_horraire) }}
						<div class="modal-body d-flex flex-column">

							<div class="mt-4">
								{{ form_widget(form_add_horraire.name) }}
								<span class="error">{{ form_errors(form_add_horraire.name) }}</span>
							</div>

							<div class="mt-4">
								{{ form_widget(form_add_horraire.comment) }}
								<span class="error">{{ form_errors(form_add_horraire.comment) }}</span>
							</div>
							<div class="mt-4">
								<label for="">Date et heure de début :
								</label>
								{{ form_widget(form_add_horraire.startDate) }}
								<span class="error">{{ form_errors(form_add_horraire.startDate) }}</span>
							</div>
							<div class="mt-4">
								<label for="">Date et heure de fin :
								</label>
								{{ form_widget(form_add_horraire.endDate) }}
								<span class="error">{{ form_errors(form_add_horraire.endDate) }}</span>
							</div>
							<div class="mt-4">
								<label for="">Choisir le type d'horaire :
								</label>
								{{ form_widget(form_add_horraire.typeHoraire) }}
								<span class="error">{{ form_errors(form_add_horraire.typeHoraire) }}</span>
							</div>

							<div class="mt-4">
								<label for="">Choisir la priorité :
								</label>
								{{ form_widget(form_add_horraire.priority) }}
								<span class="error">{{ form_errors(form_add_horraire.priority) }}</span>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-primary text-white">Enregistrer</button>
						</div>
						{{ form_end(form_add_horraire) }}
					</div>
				</div>
			</div>


			{# affichage des horaires #}
			<div class="app-content p-md-3 p-lg-4">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Horaires des jours passés :

								{# 	je compte le nombre d'horaires #}
								{% set count1=0%}
								{% for horaires in horaire %}

									{% if ((horaires.startDate|date('Y/m/d H:i')) < ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d')) < ("now"|date('Y/m/d'))) %}

										{% set count1=count1+1 %}


									{% endif %}
								{% endfor %}
								<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div>
									{% for horaires in horaire %}


										{% if ((horaires.startDate|date('Y/m/d H:i')) < ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d')) < ("now"|date('Y/m/d'))) %}


											<br>
											<div class="row row-striped">
												<div class="col-2 text-right">
													<h1 class="display-4">
														<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
													</h1>
													<h2>{{horaires.startDate|date('m')}}</h2>
												</div>
												<div class="col-10">
													<h5 class="text-uppercase">
														<strong>{{horaires.name}}</strong>
													</h5>
													<ul class="list-inline">
														<li class="list-inline-item">
															<i class="fa fa-calendar-o" aria-hidden="true"></i>
															Monday</li>
														<li class="list-inline-item">
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															{{horaires.startDate|date('H:i')}}
															-
															<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
														</li>
														<li class="list-inline-item  text-success">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Type d'horaire :
															{{horaires.typeHoraire.name }}</li>
														<li class="list-inline-item">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Priorité :
															{{horaires.priority }}</li>
													</ul>
													<p class="text-success">{{horaires.comment}}</p>
													<div class="d-flex justify-content-between">
														<div>
															<div>Date de création :</div>
															<div>{{horaires.createdDate|date('d/m/Y H:i')}}</div>
														</div>

														<div>
															<div>Date de dernière modification :</div>
															<div>{{horaires.modifiedDate|date('d/m/Y H:i')}}</div>
														</div>
													</div>
													<div class=" mt-3">
														<div class="d-flex">
															<div>
																<a href="{{path('app_edit_horaire', { name: horaires.name }) }}">Modifier</a>
															</div>


															<div class="ml-3">
																<a href="{{path('app_delete_horaire', {'id': horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>
															</div>

														</div>

													</div>


												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Horaires passées de la journée

								{# 	je compte le nombre d'horaires #}
								{% set count1=0%}
								{% for horaires in horaire %}

									{% if ((horaires.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d')) == ("now"|date('Y/m/d')) and (horaires.endDate|date('H:i')) < ("now"|date('H:i'))) %}

										{% set count1=count1+1 %}


									{% endif %}
								{% endfor %}
								<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div>
									{% for horaires in horaire %}

										{% if ((horaires.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d')) == ("now"|date('Y/m/d')) and (horaires.endDate|date('H:i')) < ("now"|date('H:i'))) %}
											<br>
											<div class="row row-striped">
												<div class="col-2 text-right">
													<h1 class="display-4">
														<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
													</h1>
													<h2>{{horaires.startDate|date('m')}}</h2>
												</div>
												<div class="col-10">
													<h5 class="text-uppercase">
														<strong>{{horaires.name}}</strong>
													</h5>
													<ul class="list-inline">
														<li class="list-inline-item">
															<i class="fa fa-calendar-o" aria-hidden="true"></i>
															Monday</li>
														<li class="list-inline-item">
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															{{horaires.startDate|date('H:i')}}
															-
															<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
														</li>
														<li class="list-inline-item  text-success">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Type d'horaire :
															{{horaires.typeHoraire.name }}</li>
														<li class="list-inline-item">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Priorité :
															{{horaires.priority }}</li>
													</ul>
													<p class="text-success">{{horaires.comment}}</p>
													<div class="d-flex justify-content-between">
														<div>
															<div>Date de création :</div>
															<div>{{horaires.createdDate|date('d/m/Y H:i')}}</div>
														</div>

														<div>
															<div>Date de dernière modification :</div>
															<div>{{horaires.modifiedDate|date('d/m/Y H:i')}}</div>
														</div>
													</div>
													<div class=" mt-3">
														<div class="d-flex">
															<div>
																<a href="{{path('app_edit_horaire', { name: horaires.name }) }}">Modifier</a>
															</div>


															<div class="ml-3">
																<a href="{{path('app_delete_horaire', {'id': horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>
															</div>

														</div>

													</div>


												</div>
											</div>
										{% endif %}

									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								Horaires en cours :
								{# 	je compte le nombre d'horaires #}
								{% set count1=0%}
								{% for horaires in horaire %}

									{% if ((horaires.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d H:i')) >= ("now"|date('Y/m/d H:i'))) %}

										{% set count1=count1+1 %}


									{% endif %}
								{% endfor %}
								<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>

							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div>
									{% for horaires in horaire %}


										{% if ((horaires.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d H:i')) >= ("now"|date('Y/m/d H:i'))) %}
											<br>
											<div class="row row-striped">
												<div class="col-2 text-right">
													<h1 class="display-4">
														<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
													</h1>
													<h2>{{horaires.startDate|date('m')}}</h2>
												</div>
												<div class="col-10">
													<h5 class="text-uppercase">
														<strong>{{horaires.name}}</strong>
													</h5>
													<ul class="list-inline">
														<li class="list-inline-item">
															<i class="fa fa-calendar-o" aria-hidden="true"></i>
															Monday</li>
														<li class="list-inline-item">
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															{{horaires.startDate|date('H:i')}}
															-
															<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
														</li>
														<li class="list-inline-item  text-success">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Type d'horaire :
															{{horaires.typeHoraire.name }}</li>
														<li class="list-inline-item">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Priorité :
															{{horaires.priority }}</li>
													</ul>
													<p class="text-success">{{horaires.comment}}</p>
													<div class="d-flex justify-content-between">
														<div>
															<div>Date de création :</div>
															<div>{{horaires.createdDate|date('d/m/Y H:i')}}</div>
														</div>

														<div>
															<div>Date de dernière modification :</div>
															<div>{{horaires.modifiedDate|date('d/m/Y H:i')}}</div>
														</div>
													</div>
													<div class=" mt-3">
														<div class="d-flex">
															<div>
																<a href="{{path('app_edit_horaire', { name: horaires.name }) }}">Modifier</a>
															</div>


															<div class="ml-3">
																<a href="{{path('app_delete_horaire', {'id': horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>
															</div>

														</div>

													</div>


												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree2">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
								Horaires à venir :
								{# 	je compte le nombre d'horaires #}
								{% set count1=0%}
								{% for horaires in horaire %}

									{% if ((horaires.startDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i'))) %}

										{% set count1=count1+1 %}


									{% endif %}
								{% endfor %}
								<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>


							</button>
						</h2>
						<div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div>
									{% for horaires in horaire %}


										{% if ((horaires.startDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i')) and (horaires.endDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i'))) %}
											<br>
											<div class="row row-striped">
												<div class="col-2 text-right">
													<h1 class="display-4">
														<span class="badge badge-secondary">{{horaires.startDate|date('d')}}</span>
													</h1>
													<h2>{{horaires.startDate|date('m')}}</h2>
												</div>
												<div class="col-10">
													<h5 class="text-uppercase">
														<strong>{{horaires.name}}</strong>
													</h5>
													<ul class="list-inline">
														<li class="list-inline-item">
															<i class="fa fa-calendar-o" aria-hidden="true"></i>
															Monday</li>
														<li class="list-inline-item">
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															{{horaires.startDate|date('H:i')}}
															-
															<span class="fw-bold">{{horaires.endDate|date('d/m/Y H:i')}}</span>
														</li>
														<li class="list-inline-item  text-success">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Type d'horaire :
															{{horaires.typeHoraire.name }}</li>
														<li class="list-inline-item">
															<i class="fa fa-location-arrow" aria-hidden="true"></i>
															Priorité :
															{{horaires.priority }}</li>
													</ul>
													<p class="text-success">{{horaires.comment}}</p>
													<div class="d-flex justify-content-between">
														<div>
															<div>Date de création :</div>
															<div>{{horaires.createdDate|date('d/m/Y H:i')}}</div>
														</div>

														<div>
															<div>Date de dernière modification :</div>
															<div>{{horaires.modifiedDate|date('d/m/Y H:i')}}</div>
														</div>
													</div>
													<div class=" mt-3">
														<div class="d-flex">
															<div>
																<a href="{{path('app_edit_horaire', { name: horaires.name }) }}">Modifier</a>
															</div>


															<div class="ml-3">
																<a href="{{path('app_delete_horaire', {'id': horaires.id}) }}" onclick=" return confirm('Attention, ceci va être supprimé définitivement ') ">Supprimer</a>
															</div>

														</div>

													</div>


												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</body>

	<style>
		.modal form {
			display: block;
		}
	</style>
{% endblock %}
