{% extends 'base.html.twig' %}

{% block title %}Projet test Lamster
{% endblock %}

d
{% block body %}

	<div class="container" style="margin-top: -5rem;">

		<div class="row">
		
			<div class="col-md-3 shadow-sm ">
				{% include "admin/horaire/_filter.html.twig" with {form_search: form_search} only %}
			</div>


			<div
				class="col-md-9 shadow-sm">


				<!-- Button trigger modal pour ajouter un horaire -->
				<button type="button" class="btn btn-outline-success ml-4 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-upload me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
						<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
					</svg>
					Saisir un horaire
				</button>

				<a href="{{path('app_type_horaire')}}">
					<button type="button" class="btn btn-outline-success ml-4 mt-3">
						Voir les types d'horaires
					</button>
				</a>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'un type d'horaire</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							{{ form_start(form_add_horraire) }}
							<div class="modal-body d-flex flex-column">

								<div class="mt-4">
									{{ form_widget(form_add_horraire.name) }}
									<span class="error">{{ form_errors(form_add_horraire.name) }}</span>
								</div>

								<div class="mt-4">
									{{ form_widget(form_add_horraire.comment) }}
									<span class="error">{{ form_errors(form_add_horraire.comment) }}</span>
								</div>
								<div class="mt-4">
									<label for="">Date et heure de début :
									</label>
									{{ form_widget(form_add_horraire.startDate) }}
									<span class="error">{{ form_errors(form_add_horraire.startDate) }}</span>
								</div>
								<div class="mt-4">
									<label for="">Date et heure de fin :
									</label>
									{{ form_widget(form_add_horraire.endDate) }}
									<span class="error">{{ form_errors(form_add_horraire.endDate) }}</span>
								</div>
								<div class="mt-4">
									<label for="">Choisir le type d'horaire :
									</label>
									{{ form_widget(form_add_horraire.typeHoraire) }}
									<span class="error">{{ form_errors(form_add_horraire.typeHoraire) }}</span>
								</div>

								<div class="mt-4">
									<label for="">Choisir la priorité :
									</label>
									{{ form_widget(form_add_horraire.priority) }}
									<span class="error">{{ form_errors(form_add_horraire.priority) }}</span>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								<button type="submit" class="btn btn-primary text-white">Enregistrer</button>
							</div>
							{{ form_end(form_add_horraire) }}
						</div>
					</div>
				</div>

				{# affichage du nombre d'horaires #}
				<div>
					<h5 class="text-center mt-3">Nombre d'horaires au total :
						{{horaires | length}}

					</h5>
				</div>

				{# -    horaires des jours passés - #}
				<br>
				<div class="accordion-item shadow bg-body-tertiary rounde">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Horaires des jours passés :

							{# 	je compte le nombre d'horaires #}
							{% set count1=0%}
							{% for horaire in horaires %}

								{% if ((horaire.startDate|date('Y/m/d H:i')) < ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d')) < ("now"|date('Y/m/d'))) %}

									{% set count1=count1+1 %}


								{% endif %}
							{% endfor %}
							<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{% for horaire in horaires %}
								{% if ((horaire.startDate|date('Y/m/d H:i')) < ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d')) < ("now"|date('Y/m/d'))) %}
									{# j'affiche mes données des horaires #}
									{% include "admin/horaire/_card.html.twig" with {horaire: horaire} only %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				{# -   horaires passées de la journée #}
				<br>
				<div class="accordion-item shadow  bg-body-tertiary rounde">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Horaires passées de la journée

							{# 	je compte le nombre d'horaires #}
							{% set count1=0%}
							{% for horaire in horaires %}

								{% if ((horaire.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d')) == ("now"|date('Y/m/d')) and (horaire.endDate|date('H:i')) < ("now"|date('H:i'))) %}

									{% set count1=count1+1 %}


								{% endif %}
							{% endfor %}
							<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>
						</button>
					</h2>


					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{% for horaire in horaires %}
								{% if ((horaire.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d')) == ("now"|date('Y/m/d')) and (horaire.endDate|date('H:i')) < ("now"|date('H:i'))) %}
									{% include "admin/horaire/_card.html.twig" with {horaire: horaire} only %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				{# -    Horaires en cours #}
				<br>
				<div class="accordion-item shadow  bg-body-tertiary rounde">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							Horaires en cours :
							{# 	je compte le nombre d'horaires #}
							{% set count1=0%}
							{% for horaire in horaires %}

								{% if ((horaire.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d H:i')) >= ("now"|date('Y/m/d H:i'))) %}

									{% set count1=count1+1 %}


								{% endif %}
							{% endfor %}
							<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>

						</button>
					</h2>


					<div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{% for horaire in horaires %}
								{% if ((horaire.startDate|date('Y/m/d H:i')) <= ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d H:i')) >= ("now"|date('Y/m/d H:i'))) %}
									{% include "admin/horaire/_card.html.twig" with {horaire: horaire} only %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{# -     horaires à venir --- #}
				<br>
				<div class="accordion-item shadow  bg-body-tertiary rounde">
					<h2 class="accordion-header" id="headingThree2">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
							Horaires à venir :
							{# 	je compte le nombre d'horaires #}
							{% set count1=0%}
							{% for horaire in horaires %}

								{% if ((horaire.startDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i'))) %}

									{% set count1=count1+1 %}


								{% endif %}
							{% endfor %}
							<p class="ml-3 mt-3 fw-semibold text-success">{{count1}}</p>


						</button>
					</h2>

					<div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{% for horaire in horaires %}
								{% if ((horaire.startDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i')) and (horaire.endDate|date('Y/m/d H:i')) > ("now"|date('Y/m/d H:i'))) %}
									{% include "admin/horaire/_card.html.twig" with {horaire: horaire} only %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
